[submodule "CommonAndroid"]
	path = CommonAndroid
	url = https://github.com/tyolab/CommonAndroid.git
[submodule "CommonUtils"]
	path = CommonUtils
	url = https://github.com/tyolab/CommonUtils.git
[submodule "CommonUiLib"]
	path = CommonUiLib
	url = https://github.com/tyolab/CommonUiLib.git
[submodule "CommonAppLib"]
	path = CommonAppLib
	url = https://github.com/tyolab/CommonAppLib.git
